</div>
<div class="wrapper-index" style="padding-top:70px;">
<div class="wrapper-map hidden-xs hidden-sm" style='position:fixed !important; right:0; bottom: 0; top:70px; width: 50%;'>
  <div id='map' style="height:90vh;"></div>
</div>

<div class="row">
  <div class="col-lg-6">
    <% @properties.each do |property| %>
      <div class="col-lg-6">
        <%= render 'shared/client_property_card', property: property  %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js do %>
  <script>
    initMap();
    function initMap(lat, lng) {
      var map = new google.maps.Map(document.getElementById('map'), {
      });

      var gm_markers = new Array();
      <% @markers.each do |marker| %>
        gm_markers[<%= marker[:id].to_s %>] = new google.maps.Circle({
                                    center: {lat: <%= marker[:lat] %>, lng: <%=marker[:lng] %>},
                                    map: map,
                                    radius: 200
                                    });
       <% end %>

      var bounds = new google.maps.LatLngBounds();

      <% @markers.each do |marker| %>
        bounds.extend({lat: <%= marker[:lat] %>, lng: <%=marker[:lng] %>});
      <% end %>
      map.setCenter(bounds.getCenter());
      map.fitBounds(bounds);
    }

  </script>
<% end %>
