<style>
  body { background: white }
</style>
</div>
<div class="container">
<div class="client-property-show">
  <div class="row">
    <h2 class="property-title"> <%= @address.neighborhood %> • <%= @address.city %> - Cod. <%= @property.id %></h2>
    <h3 class="negotiation"><%= "Venda" if @property.sale %> | <%= "Locação" if @property.rent  %></h3>
    <div class="col-lg-8">
      <div class="slider-wrapper">
        <button class="btn btn-primary" id="photoButton" style="background: white; color: black; outline: none;"><i class="fa fa-image"></i>Fotos</button>
        <button class="btn btn-primary" id= "mapButton" style="outline:none;"><i class="fa fa-map"></i>Mapa</button>
        <div id="map" style="height:500px; display: none; margin: 1em;"></div>
        <div class="slider-for-client" id="photos">
          <% @property.photos.reverse.each do |photo| %>
            <div class="image">
              <%= cl_image_tag photo.path, height: 500, crop: :fill %>
            </div>
          <% end  %>
        </div>
      </div>
      <div class="info-card">
        <h3>Informações Basicas</h3>
        <ul>
          <li>Tipo negociação: <%= @property.bussiness_type %></li>
          <li>Tipo:<%= @property.property_type  %></li>
          <li>Tipo: <%= @property.bussiness_type  %></li>
          <li>Estado: <%= @property.condition  %></li>
          <li>Posição: <%= @property.position  %></li>
          <li>Estilo de contrução: <%= @property.style  %></li>
          <li>Ano de construção: <%= @property.construction_year  %></li>
          <li>Nº de banheiros: <%= @property.bathrooms  %></li>
          <li>Nº de garages: <%= @property.garages  %></li>
        </ul>
        <p>Descrição: <%= @property.description  %></p>
      </div>
      <div class="info-card">
        <h3>Area</h3>
        <ul>
          <li>Area Total: <%= "#{@area.total} #{@area.scale}" %></li>
          <li>Area Util: <%= "#{@area.usable} #{@area.scale}" %></li>
          <li>Area do Terreno: <%= "#{@area.total} #{@area.scale}" %></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-card text-center">
        <table class="price-tabel">
          <% if @property.sale %>
            <tr>
              <td><b>Venda</b></td>
              <td><b><%= @value.sell %></b></td>
            </tr>
          <% end %>
        </table>
        <hr>
        <table class="price-tabel">
          <tbody>
            <% if @property.rent %>
              <tr>
                <td><b>Locação<b></td>
                <td><b><%= @value.rent %><b></td>
              </tr>
              <tr>
                <td>Condominio</td>
                <td><%= @value.condominium %></td>
              </tr>
              <tr>
                <td>IPTU</td>
                <td><%= @value.iptu %></td>
              </tr>
              <tr style="border-top: 1px solid;">
                <td><b>Total<b></td>
                <td><b><%= @value.rent + @value.condominium + @value.iptu %><b></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div>
          <br>
        <p><b>Marque sua visista</b></p>
         <%= simple_form_for [@property, @contact_form] do |f| %>
         <%= f.input :name, label: false, placeholder: "Nome completo" %>
         <%= f.input :telefone, label: false, placeholder: "Tefone"  %>
         <%= f.input :email, label: false, placeholder: "Email"  %>
         <%= f.submit "Entre em Contato", class: "btn btn-danger contato" %>
         <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<% content_for :js do %>
    <script type="text/javascript">
      $('.slider-for-client').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
       });
      const coord = <%= raw @property_coodinates.to_json %>;
      var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
      handler.buildMap({ internal: { id: 'map' } }, function() {
          circles = handler.addCircles(
          [
            {
              "lat": coord.lat,
              "lng": coord.lng,
              "radius": 250
            }, ]
          );
        handler.bounds.extendWith(circles);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
        });

      document.getElementById("photoButton").addEventListener("click", function(){
        let photoDisplay = document.getElementById("photos").style.display;
        if (photoDisplay === "none") {
          this.style.background = "white";
          this.style.color = "black";
          document.getElementById("mapButton").style.background = "#469AE0";
          document.getElementById("mapButton").style.color = "white";
          document.getElementById("photos").style.display = "";
          document.getElementById("map").style.display = "none";
        }
      });

      document.getElementById("mapButton").addEventListener("click", function(){
        let photoDisplay = document.getElementById("map").style.display;
        if (photoDisplay === "none") {
          this.style.background = "white";
          this.style.color = "black";
          document.getElementById("photoButton").style.background = "#469AE0";
          document.getElementById("photoButton").style.color = "white";
          document.getElementById("map").style.display = "";
          document.getElementById("photos").style.display = "none";
        }
      });

      function togglePhotos() {
        let photoDisplay = document.getElementById("photos").style.display;
        if (photoDisplay === "none") {
        } else {
          document.getElementById("photos").style.display = "none";
        }
      }

      function toggleMap() {
        let mapDisplay = document.getElementById("map").style.display;
        if (mapDisplay === "none") {
          document.getElementById("map").style.display = "";
        } else {
          }
        }
  </script>
<% end %>
