<style>
  body { background: white }
</style>
</div>
<div class="container">
<div class="client-property-show">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="property-title">
        <% if @address.neighborhood.nil? || @address.city.nil? || @address.street.nil?  %>
          Imóvel - Codigo <%= @property.id %>
        <% else %>
          <%= @address.street %> • <%= @address.neighborhood %> • <%= @address.city %> - Codigo <%= @property.id %>
        <% end %>
      </h2>
      <h3 class="negotiation"><%= "Venda" if @property.sale %> <%= "|" if @property.sale && @property.rent %> <%= "Locação" if @property.rent %></h3>
      <div class="slider-wrapper">
        <div class="options-buttons">
          <button class="btn btn-primary option-button active_button" ><i class="fa fa-image"></i>Fotos</button>
          <button class="btn btn-primary option-button "><i class="fa fa-map"></i>Mapa</button>
        </div>
        <div id="map" style="height:500px; display: none; margin: 1em;"></div>
        <div class="slider-for-client" id="photos">
          <% if @property.photos.empty? %>
            <%= image_tag 'placeholder-image.jpg', height: 500, crop: :fill %>
          <% else %>
            <% @property.photos.reverse.each do |photo| %>
              <div class="image">
                <%= cl_image_tag photo.path, height: 500, crop: :fill %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="info-card">
        <div class="info-icons">
          <% unless @area.total.nil? %>
            <div class="icon">
              <i class="fa fa-arrows" aria-hidden="true"></i>
              <span><%= "#{@area.total.round}#{@area.scale}"  %><span>
              </div>
          <% end %>
          <% unless @property.rooms.nil? || @property.rooms < 1 %>
            <div class="icon">
              <i class="fa fa-bed" aria-hidden="true"></i>
              <span><%= pluralize(@property.rooms, 'quarto',' quartos' ) %><span>

              <% if @property.suites.nil? || @property.suites == 0 %>
                <br>
                <span>(<%= pluralize(@property.suites, 'suite', 'suites') %>)<span>
              <% end %>
            </div>
          <% end %>
          <% unless @property.bathrooms.nil? ||  @property.bathrooms < 1 %>
            <div class="icon">
              <i class="fa fa-bath" aria-hidden="true"></i>
              <span><%= pluralize(@property.rooms, 'banheiro',' banheiros' ) %><span>
            </div>
          <% end %>

          <% unless @property.garages.nil? || @property.garages < 1 %>
            <div class="icon">
              <i class="fa fa-car" aria-hidden="true"></i>
              <span><%= pluralize(@property.garages, 'vaga',' vagas' ) %><span>
            </div>
          <% end %>

          <% unless @property.condition.nil? %>
            <div class="icon">
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>Estado <%= @property.condition %><span>
            </div>
          <% end %>
        </div>
        <br>
        <h3> Imóvel <%= @property.business_type.name %></h3>
        <h4> <%= @property.property_type.name %></h4>

        <% unless @property.details_types.empty? %>
          <div style="margin: 20px 0 40px 0;">
            <% @property.details_types.each do |detail| %>
              <div class="delete-detail detail"><%= detail.name %></div>
            <% end %>
          </div>
        <% end %>

        <% unless @property.description.blank? %>
          <p><%= @property.description %></p>
        <% end %>
        <br>
        <% unless @property.sell_conditions.blank? %>
          <h4>Condições de Venda</h4>
          <p><%= @property.sell_conditions %></p>
        <% end %>
        <br>
        <% unless @property.rent_guarantee .blank? %>
          <h4>Garantias de Aluguel</h4>
          <p><%= @property.rent_guarantee %></p>
        <% end %>
        <br>
        <% if @property.observations.blank? %>
          <h4>Observações</h4>
          <p>Sem observações</p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-card text-center">
          <% if @property.sale %>
            <table class="price-tabel">
              <tr>
                <td><b>Venda</b></td>
                <td><b><%= number_to_currency(@value.sell, unit: "R$", separator: ",", delimiter: ".") %></b></td>
              </tr>
            </table>
            <hr>
          <% end %>
          <% if @property.rent %>
        <table class="price-tabel">
          <tbody>
              <tr>
                <td><b>Locação<b></td>
                <td><b><%= number_to_currency(@value.rent, unit: "R$", separator: ",", delimiter: ".") %><b></td>
              </tr>
              <tr>
                <td>Condominio</td>
                <td><%= number_to_currency(@value.condominium, unit: "R$", separator: ",", delimiter: ".")%></td>
              </tr>
              <tr>
                <td>IPTU</td>
                <td><%=number_to_currency(@value.iptu, unit: "R$", separator: ",", delimiter: ".") %></td>
              </tr>
              <tr style="border-top: 1px solid;">
                <td><b>Total<b></td>
                  <% total_value = (@value.rent.blank? ? 0 : @value.rent) + (@value.condominium.blank? ? 0 : @value.condominium) + (@value.iptu.blank? ? 0 : @value.iptu) %>
                <td><b><%= number_to_currency(total_value, unit: "R$", separator: ",", delimiter: ".") %><b></td>
              </tr>
            </tbody>
          </table>
        <% end %>

        <div>
          <br>
        <p><b>Marque sua visista</b></p>
        <%= render 'contact_form', property: @property, contact_form: @contact_form %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<% content_for :js do %>
    <script type="text/javascript">
      $('.slider-for-client').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
       });
      const coord = <%= raw @property_coodinates.to_json %>;
      var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
      handler.buildMap({ internal: { id: 'map' } }, function() {
          circles = handler.addCircles(
          [
            {
              "lat": coord.lat,
              "lng": coord.lng,
              "radius": 250
            }, ]
          );
        handler.bounds.extendWith(circles);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
        });

      $(".option-button").on("click", function(){
        $(".option-button").removeClass("active_button");
        if ($(this).text() === "Fotos") {
          document.getElementById("photos").style.display = "";
          document.getElementById("map").style.display = "none";
          $(this).addClass("active_button");
        } else if ($(this).text() === "Mapa") {
          document.getElementById("photos").style.display = "none";
          document.getElementById("map").style.display = "";
          $(this).addClass("active_button");
        }
      });

      function togglePhotos() {
        let photoDisplay = document.getElementById("photos").style.display;
        if (photoDisplay === "none") {
        } else {
          document.getElementById("photos").style.display = "none";
        }
      }

      function toggleMap() {
        let mapDisplay = document.getElementById("map").style.display;
        if (mapDisplay === "none") {
          document.getElementById("map").style.display = "";
        } else {
          }
        }
  </script>
<% end %>
