<div class="client-property-show">
  <div class="row">
    <h2 class="property-title"> <%= @address.neighborhood %> • <%= @address.city %> - Cod. <%= @property.code %></h2>
    <div class="col-lg-8">
      <div class="slider-wrapper">
        <div class="slider-for">
          <% @property.photos.reverse.each do |photo| %>
            <div class="image">
              <%= cl_image_tag photo.path, height: 400, crop: :fill %>
            </div>
          <% end  %>
        </div>
        <div class="slider-nav">
          <% @property.photos.reverse.each do |photo| %>
            <div>
              <%= cl_image_tag photo.path, width: 220, height: 100, crop: :fill %>
            </div>
          <% end  %>
        </div>
      </div>
      <div class="info-card">
        <p>Valor</p>
        <ul>
          <li>Valor Total: <%= "R$#{@value.value}" %></li>
          <li>Iptu: <%= "R$#{@value.iptu}" %></li>
          <li>Condominio: <%= "R$#{@value.condo_amount}" %></li>
          <li>Porcetagem: <%= "#{@value.rate*100}%"  if @value.rate != nil %></li>
        </ul>
      </div>
      <div class="info-card">
        <p>Informações Basicas</p>
        <ul>
          <li>Tipo Negocição: <%= @property.bussiness_type %></li>
          <li>Tipo de Propriedade:<%= @property.property_type  %></li>
          <li>Tipo: <%= @property.property_kind  %></li>
          <li>Estado da Propriedade: <%= @property.property_state  %></li>
          <li>Posição da Propriedade: <%= @property.position  %></li>
          <li>Estilo de contrução: <%= @property.style  %></li>
          <li>Ano de Contrução: <%= @property.construction_year  %></li>
          <li>Nº de Banheiros: <%= @property.bathrooms  %></li>
          <li>Nº de Garages: <%= @property.garages  %></li>
          <li>Descrição: <%= @property.description  %></li>
        </ul>
      </div>

      <div class="info-card">
        <div id="map" style="height:300px;"></div>
      </div>

      <div class="info-card">
        <p>Endereço</p>
        <ul>
          <li>Pais: <%= @address.country %></li>
          <li>Estado: <%= @address.state %></li>
          <li>Cidade: <%= @address.city %></li>
          <li>Bairro: <%= @address.neighborhood %></li>
        </ul>
      </div>
      <div class="info-card">
        <p>Area</p>
        <ul>
          <li>Area Total: <%= "#{@area.total_area} #{@area.scale}" %></li>
          <li>Area Util: <%= "#{@area.usable_area} #{@area.scale}" %></li>
          <li>Area do Terreno: <%= "#{@area.total_area} #{@area.scale}" %></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-card text-center">
        <div class="form">
          <input type="text" placeholder="Nome">
          <input type="text" placeholder="Telefone">
          <input type="text" placeholder="email">
        </div>
        <a href="#" class="btn btn-primary btn-lg contato">Receba Mais Informações</a>
      </div>
    </div>
  </div>
</div>
<br>

<% content_for :js do %>
    <script type="text/javascript">
      $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
       });

      $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: false,
        centerMode: true,
        focusOnSelect: true
      });

      const coord = <%= raw @property_coodinates.to_json %>;

      var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
      handler.buildMap({ internal: { id: 'map' } }, function() {
          circles = handler.addCircles(
          [
            {
              "lat": coord.lat,
              "lng": coord.lng,
              "radius": 1000
            }, ]
          );
        handler.bounds.extendWith(circles);
        handler.fitMapToBounds();
        handler.getMap().setZoom(13);
        });
  </script>
<% end %>
