<div class="form-menu">
    <a class="tab <%= 'active' if activate == 'basic' %>" id="basic" href="#">
      <p>Informações basica</p>
    </a>
    <a class="tab <%= 'active' if activate == 'address' %>" href="#">
      <p>Endereço</p>
    </a>
    <a class="tab <%= 'active' if activate == 'area' %>" href="#">
      <p>Informações da Area</p>
    </a>
    <a class="tab <%= 'active' if activate == 'value' %>" href="#">
      <p>Valor do Imovel</p>
    </a>
    <a class="tab <%= 'active' if activate == 'photos' %>" href="#">
      <p>Fotos e Videos</p>
    </a>
</div>
