<div class="form-menu">
    <% if @property.id %>
      <%= link_to edit_admin_property_path(@property), class: "tab" + (activate == "basic" ? " active" : "") do %>
        <p>Informações Básica</p>
      <% end %>
    <% else %>
      <%= link_to new_admin_property_path(@property), class: "tab" + (activate == "basic" ? " active" : "")  do %>
        <p>Informações Básica</p>
      <% end %>
    <% end %>

    <% if @property.id %>
      <%= link_to address_admin_property_path(@property), class: "tab" + (activate == "address" ? " active" : "")  do %>
        <p>Endereço</p>
      <% end %>
    <% else %>
      <a class="tab <%= 'active' if activate == 'address' %>" href="#" onclick="alert('Cadastre as informação basicas do imovel antes de continuar');">
      <p>Endereço</p>
      </a>
    <% end %>

    <% if @property.id %>
      <%= link_to details_admin_property_path(@property), class: "tab" + (activate == "details" ? " active" : "")  do %>
        <p>Detalhes do Imóvel</p>
      <% end %>
    <% else %>
      <a class="tab <%= 'active' if activate == 'detail' %>" href="#" onclick="alert('Cadastre as informação basicas do imovel antes de continuar');">
      <p>Detalhes do Imóvel</p>
      </a>
    <% end %>

    <% if @property.id %>
      <%= link_to area_admin_property_path(@property), class: "tab" + (activate == "area" ? " active" : "")  do %>
        <p>Informações da Área</p>
      <% end %>
    <% else %>
      <a class="tab <%= 'active' if activate == 'area' %>" href="#" onclick="alert('Cadastre as informação basicas do imovel antes de continuar');">
      <p>Informações da Área</p>
      </a>
    <% end %>

    <% if @property.id %>
      <%= link_to value_admin_property_path(@property), class: "tab" + (activate == "value" ? " active" : "")  do %>
        <p>Valor do Imóvel</p>
      <% end %>
    <% else %>
      <a class="tab <%= 'active' if activate == 'value' %>" href="#" onclick="alert('Cadastre as informação basicas do imovel antes de continuar');">
      <p>Valor do Imóvel</p>
      </a>
    <% end %>

    <% if @property.id %>
      <%= link_to photos_admin_property_path(@property), class: "tab" + (activate == "photos" ? " active" : "")  do %>
        <p>Fotos</p>
      <% end %>
    <% else %>
      <a class="tab <%= 'active' if activate == 'photos' %>" href="#" onclick="alert('Cadastre as informação basicas do imovel antes de continuar');">
      <p>Fotos</p>
      </a>
    <% end %>
</div>
