<div class="landlord-card">
  <%= image_tag('avatar-mini.jpg',  size: "100x100")   %>
  <div class="info">
    <div class="main-info">
      <p class="landlord-name"><%= landlord.name %><p>
      <p>Telefone: <%= landlord.phone1 %>/Cel: <%= landlord.phone2 %><p>
      <p>Email: <%= landlord.email %><p>
    </div>
    <div class="booked text-right">
      <p><b>Cadastros: <%= landlord.properties.count %></b></p>
      <p>Venda:  <%= landlord.properties.count %></p>
      <p>Alugel: <%= landlord.properties.count %></p>
    </div>
  </div>
  <div class="landlord-card-link">
    <%= link_to "", admin_landlord_path(landlord) %>
  </div>
</div>
