<div class="property-card">
  <div class="property-left">
    <% if property.photos.first %>
      <p><%= cl_image_tag (property.photos.first).path, width: 100, height: 100, crop: :fill %></p>
    <% end %>
    <div class="info">
      <p>Cod.<%= property.code %> • <%= property.address.neighborhood %> • <%= property.address.city %></p>
      <p><%= property.address.street %>, <%= property.address.number  %></p>
      <p><%= property.value.value %></p>
    </div>
  </div>

  <div class="bussiness-type">
    <p><b><%= property.bussiness_type.capitalize %></b></p>
  </div>
  <%= link_to "", admin_property_path(property), class: "property-link" %>
</div>
