<style>
.sidebar {
  background-color: white;
  margin: 1em;
  border: 1px solid black;

}

.sidebar .sidebar-button{
  display:block;
  width:100%;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}


</style>


<div class="sidebar">
    <%= link_to "Visão Geral", "#", class:"sidebar-button"  %>
    <%= link_to "Proprietarios", "#", class:"sidebar-button"  %>
    <%= link_to "Imoveis", "#", class:"sidebar-button"  %>
    <%= link_to "Emprendimentos", "#", class:"sidebar-button"  %>
    <%= link_to "Messagens", "#", class:"sidebar-button"  %>

</div>
