<div class="sidebar">
    <%= link_to "Visão Geral", admin_path, class:"sidebar-button"  %>
    <%= link_to "Proprietarios", admin_landlords_path , class:"sidebar-button"  %>
    <%= link_to "Imoveis", admin_properties_path, class:"sidebar-button"  %>
    <%= link_to "Emprendimentos", "#", class:"sidebar-button"  %>
    <%= link_to "Messagens", "#", class:"sidebar-button"  %>
</div>
