<style>
  .landlord-form {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #999999;
  }
</style>

<div class="landlord-form">
  <%= simple_form_for ([:admin, landlord]) do |f| %>
    <%= f.input :name, label: 'Nome', placeholder: "Ex: João Garcia Rodrigues" %>
    <%= f.input :rg, label: 'Documento(RG/RNE)', placeholder: "RG" %>
    <%= f.input :cpf, label: 'CPF', placeholder: "231.432.123-44" %>
    <%= f.input :birthday, start_year: Date.today.year - 110, end_year: Date.today.year-10, label: 'Data de Nacimento' %>
    <%= f.input :martial_status, label: 'Estado Civil', collection: %w(solteiro casado divorciado viuvo união\ estavel), selected:'solteiro', placeholder: "casado" %>
    <%= f.input :profession, label: 'Profissão', placeholder: "Engenheiro" %>
    <%= f.input :phone, label: 'Telefone', placeholder: "11-9833-9182" %>
    <%= f.input :email, label: 'Email', placeholder: "joao.garcia@gmail.com" %>
    <%= f.input :address, label: 'Endereço', placeholder: "Rua Canario, 874" %>
    <%= f.input :cep, label: 'CEP', placeholder: "5521-043" %>
    <p><b>Deposito</b></p>
    <%= f.collection_radio_buttons :deposit, [[true, 'Sim'] ,[false, 'Nao']], :first, :last %>
    <%= f.input :type_of_account, label: 'Tipo de Contato', collection: %w(Conta\ Corrente Conta\ Poupaça), selected: 'Conta Corrente' %>
    <%= f.input :bank, label: 'Banco', placeholder: "Bradesco" %>
    <%= f.input :agency, label: 'Numero de Agencia', placeholder: "01293-32" %>
    <%= f.input :number, label: 'Numero de Conta', placeholder: "12312" %>
    <%= f.input :adm_rate, label: 'Taxa Administração Mesal', placeholder: "10%" %>
    <%= f.input :first_rate, label: 'Taxa Administrativa 1º', placeholder: "10%" %>
    <%= f.button :submit, value: 'Salvar', class: 'btn btn-primary' %>
  <% end %>
</div>
