<%= simple_form_for ([:admin, landlord]) do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :rg, label: 'Documento' %>
  <%= f.input :cpf, label: 'CPF' %>
  <%= f.input :birthday, label: 'Data de Nacimento' %>
  <%= f.input :martial_status, label: 'Estado Civil' %>
  <%= f.input :profession, label: 'Profissão' %>
  <%= f.input :phone, label: 'Telefone' %>
  <%= f.input :email, label: 'Email' %>
  <%= f.input :address, label: 'Endereço' %>
  <%= f.input :cep, label: 'CEP' %>
  <p><b>Deposito</b></p>
  <%= f.collection_radio_buttons :deposit, [[true, 'Sim'] ,[false, 'Nao']], :first, :last %>
  <%= f.input :type_of_account, label: 'tipo' %>
  <%= f.input :bank, label: 'Banco' %>
  <%= f.input :agency, label: 'Numero de Agencia' %>
  <%= f.input :number, label: 'Numero de Conta' %>
  <%= f.input :adm_rate, label: 'Taxa Administração Mesal' %>
  <%= f.input :first_rate, label: 'Taxa Administrativa 1º' %>
  <br>
  <%= f.button :submit, value: 'Salvar' %>
<% end %>
