<style>
  one more
</style>





<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <h3>Proprietarios</h3>
    <%= link_to "Novo proprietario", new_admin_landlord_path, class: "btn btn-primary" %>
    <br>
    <br>
    <% @landlords.each do |landlord| %>
      <div class="landlord-car">
        <%= landlord.name %>
        <%= link_to "Ver", admin_landlord_path(landlord) %>
        <%= link_to "Editar", edit_admin_landlord_path(landlord) %>
      </div>
    <% end %>
  </div>
</div>

