<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="landlord">
    <h3>Proprietarios</h3>
      <%= link_to "+ Cadastrar Novo Proprietario", new_admin_landlord_path, class: "btn btn-danger" %>
    </div>

    <%= form_tag admin_landlords_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Pesquisa rapida" %>
      <%= submit_tag "pequisa", class: 'btn btn-primary' %>
    <% end %>
    <% if @landlords.empty? && params[:query].present? %>
      <p>Não foi encontrado nenhum proprietario</p>
    <% elsif @landlords.empty? && !params[:query].present? %>
      <p>Não exitem proprietarios cadastrados</p>
    <% else %>
      <% @landlords.each do |landlord| %>
        <%= render 'shared/landlord_card', landlord: landlord  %>
      <% end %>
    <% end %>
  </div>
</div>

