<style>
  .landlord-card {
    background-color: white;
    padding:0.5em;
    margin:0.5em 1em;
    box-shadow: 2px 2px 5px #808080;
    position:relative;
    border-top: 5px solid #f88004;
    display:flex;

  }

  .landlord-card p {
    margin: 0 0 8px;

  }

.landlord-card .landlord-card-control {
    position:absolute;
    top:0.3em;
    right:0.5em;
  }

  .landlord-card .landlord-card-link a {
    position:absolute;
    background-color: black;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    z-index:100;
    transition: all 0.2s ease
  }

   .landlord-card .landlord-card-link a:hover {
    opacity:0.1;
  }

.landlord-search {
  width:100%;
  margin: 0 1em;
}

.landlord-search .input{
  width:85%;
}

.landlord-search .button{
  width:10%;
  margin-right: 1em;
}

.info {
  line-height: 90%;
  margin-left: 10px;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;

}

.info .landlord-name {
  font-weight: 700;
  margin-bottom: 27px;
  text-decoration: underline;
}

.booked {
  margin-top: 27px;
}

</style>

<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="landlord">
    <h3>Proprietarios</h3>
      <%= link_to "+ Cadastrar Novo Proprietario", new_admin_landlord_path, class: "btn btn-danger" %>
    </div>

    <form action="" class="landlord-search">
      <input type="text" name="search" placeholder="Pesquiça rapida" class="input">
      <input type="submit" class="button">
    </form>


    <% @landlords.each do |landlord| %>
      <div class="landlord-card">
        <%= image_tag('avatar-mini.jpg',  size: "100x100")   %>
        <div class="info">
          <div class="main-info">
            <p class="landlord-name"><%= landlord.name %><p>
            <p>Fone: <%= landlord.phone %><p>
            <p>Email: <%= landlord.email %><p>
          </div>
          <div class="booked text-right">
            <p><b>Cadastros: <%= landlord.properties.count %></b></p>
            <p>Venda:  <%= landlord.properties.where(bussiness_type: "venda").count %></p>
            <p>Alugel: <%= landlord.properties.where(bussiness_type: "alugel").count %></p>
          </div>
        </div>
        <div class="landlord-card-link">
          <%= link_to "", admin_landlord_path(landlord) %>
        </div>

      </div>
    <% end %>
  </div>
</div>

