<style>
  .landlord {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
  }

 .landlord-info {
  background-color: white;
  border: 1px solid black;
  margin-top: 12px ;
  padding: 0.5em;
 }

</style>
<%= link_to 'voltar', admin_landlords_path %>


<div class="row">

  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-md-9">
    <div class="landlord">
      <p>Proprietario</p>
      <div class="controles">
      <%= link_to '+ Cadastrar Nova Propriedade', new_admin_landlord_property_path(@landlord), class: "btn btn-danger" %>
      <%= link_to 'editar', edit_admin_landlord_path(@landlord), class: "btn btn-primary" %>
    </div>
    </div>
    <div class="landlord-info">
      <p>Nome: <%= @landlord.name %> </p>
      <p>Documento:<%= @landlord.rg %> </p>
      <p>Telefone: <%= @landlord.phone %></p>
      <p>Email: <% @landlord.email %></p>
      <p>Quantidades de Propriedades Cadastradas:<%= @landlord.properties.count %></p>
    </div>
    <br>
  </div>
</div>
