<style>
  .dados {
    border: 1px solid #b3b3b3;
    padding:0.7em 0.5em 0.5em 0.5em;
    margin: 0.3em 0;
    position: relative;
    font-size: 16px;
  }

  .dados p {
    margin: 2px 0;
  }

  .dados .titulo {
    position: absolute;
    top:-9px;
    left:5px;
    background-color: white;
    font-size: 12px;
  }

  .show-more a {
    text-decoration: none;
    display:block;
    font-size: 15px;
    width:100%;
    height:100%;
    color: black;
  }

  .show-more {
     margin:0 -0.5em -0.5em -0.5em;
     padding-top:-0.2em;
     height:1.2em;
  }

  .show-more > a:hover{
    background-color: #ff8000;
    color:white;
  }

  .landlord-more-info {
    margin-top:1em;
  }
</style>


<%= link_to 'voltar', admin_landlords_path %>


<div class="row">

  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-md-9">
    <div class="landlord">
      <p>Proprietario</p>
    </div>
    <div class="landlord-info">
      <div class="basic-info">
        <p><b>Informações Basicas:</b><p>
        <p>Nome: <%= @landlord.name %> </p>
        <p>Telefone: <%= @landlord.phone %></p>
        <p>Email: <% @landlord.email %></p>
        <p>Quantidades de Propriedades Cadastradas: <%= @landlord.properties.count %></p>
      </div>
      <div class="landlord-more-info collapse" id="collapseExample"">
        <div class="row">
          <div class="col-md-6">
            <div class="dados">
              <span class="titulo">Dados Pessoais</span>
              <p>RG: <%= @landlord.rg %></p>
              <p>CPF: <%= @landlord.cpf %> </p>
              <p>Data de Nacimento: <%= @landlord.birthday %> </p>
              <p>Estado cívil: <%= @landlord.martial_status %> </p>
              <p>Profisão: <%= @landlord.profession %> </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="dados">
               <span class="titulo">Endereço</span>
              <p>Endereço: <%= @landlord.address %></p>
              <p>CEP: <%= @landlord.cep %> </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="dados">
               <span class="titulo">Dados Bancarios</span>
              <p>Deposito: <%= @landlord.deposit %></p>
              <p>Tipo de Conta: <%= @landlord.type %> </p>
              <p>Banco: <%= @landlord.bank %> </p>
              <p>Agência: <%= @landlord.agency %></p>
              <p>Numero de conta: <%= @landlord.number %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="dados">
               <span class="titulo">Dados Pessoais</span>
              <p>Taxa de Adminição Mesal: <%= @landlord.adm_rate %></p>
              <p>Taxa de Administração 1ª: <%= @landlord.first_rate %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="show-more text-center">
        <a data-toggle="collapse" href="#collapseExample">+</a>
      </div>
      <div class="landlord-edit">
        <%= link_to 'editar', edit_admin_landlord_path(@landlord), class: "btn btn-primary" %>
      </div>
    </div>
    <br>
    <%= link_to '+ Cadastrar Nova Propriedade', new_admin_landlord_property_path(@landlord), class: "btn btn-danger" %>

    <% @landlord.properties.each do |property| %>
      <div class="landlord-property-card">
        <% if property.photos.first %>
          <p><%= cl_image_tag (property.photos.first).path, width: 100, height: 100, crop: :fill %></p>
        <% end %>

        <div class="info">
        <p>Codigo:<%= property.code %></p>
        <p><%= property.address(property).street %>, <%= property.address(property).number  %></p>
        <p><%= link_to "propriedade", admin_property_path(property) %></p>
        </div>

      </div>
    <% end %>
  </div>
</div>
