<div class="form-property">
  <%= simple_form_for([:admin, property]) do |f| %>
    <%= f.input :landlord_id, :as => :hidden, input_html: { value: @landlord.id } %>
    <%= f.input :code %>
    <%= f.input :bussiness_type %>
    <%= f.input :property_kind %>
    <%= f.input :property_state %>
    <%= f.input :position %>
    <%= f.input :style %>
    <%= f.input :construction_year %>
    <%= f.input :bathrooms %>
    <%= f.input :rooms %>
    <%= f.input :garages %>
    <%= f.input :suites %>
    <%= f.input :description %>
    <%= f.input :conditions %>
    <%= f.button :submit, value: "Salvar" %>
  <% end %>
</div>
