<div class="form-property">
  <%= simple_form_for([:admin, property_address]) do |f| %>
    <%= f.input :property_id, :as => :hidden, input_html: { value: @property.id } %>
    <%= f.country_select :country, {selected: "BR"}, {class: "form-control hidden" }  %>
    <%= f.input :cep %>
    <%= f.input :state, label: "Estado" %>
    <%= f.input :city, label: "Cidade" %>
    <%= f.input :neighborhood, label: "Bairro" %>
    <%= f.input :street, label: "Logradouro" %>
    <%= f.input :number, label: "Numero" %>
    <%= f.input :complement, label: "Complemento" %>
    <%= f.input :condo_name, label: "Nome do condominio" %>
    <%= f.button :submit, "Salvar", class: 'btn btn-primary' %>
  <% end %>
</div>
