<div class="form-property">
  <%= simple_form_for([:admin, property_area]) do |f| %>
    <%= f.input :property_id, :as => :hidden, input_html: { value: @property.id } %>
    <%= f.input :scale %>
    <%= f.input :total %>
    <%= f.input :usable %>
    <%= f.input :land %>
    <%= f.button :submit, "Salvar", class: 'btn btn-primary' %>
  <% end %>
</div>
