<div class="form-property">
  <%= simple_form_for([:admin, property_address]) do |f| %>
    <%= f.input :property_id, :as => :hidden, input_html: { value: @property.id } %>
    <%= f.country_select :country, {selected: "BR"}, {class: "form-control hidden" }  %>
    <%= f.input :cep %>
    <%= f.input :state %>
    <%= f.input :city %>
    <%= f.input :neighborhood %>
    <%= f.input :street %>
    <%= f.input :number %>
    <%= f.input :complement %>
    <%= f.input :condo_name %>
    <%= f.button :submit, "Salvar", class: 'btn btn-primary' %>
  <% end %>
</div>
