<div class="form-property">
  <%= simple_form_for([:admin, property]) do |f| %>
    <%= f.input :landlord_id, :as => :hidden, input_html: { value: @landlord.id } %>

    <%= f.input :type%>
    <%= f.input :property_genre %>
    <%= f.input :conditions_business %>
    <%= f.input :position %>
    <%= f.input :style %>
    <%= f.input :construction_year %>
    <%= f.input :bathrooms %>
    <%= f.input :rooms %>
    <%= f.input :garages %>
    <%= f.input :suites %>
    <%= f.input :description %>
    <%= f.input :conditions_business %>

    <%= f.button :submit, value: "Salvar" %>
  <% end %>
</div>
