<div class="row">
  <div class="form-property">
    <%= simple_form_for([:admin, property]) do |f| %>
      <%= f.input :landlord_id, as: :hidden, input_html: { value: check_landlord_id(params)}%>
      <%= f.input :sale, label: 'Venda', wrapper_html: {class: 'col-md-2'}, onchange: "showAddInfo();"  %>
      <%= f.input :rent, label: 'Locação', wrapper_html: {class: 'col-md-8'} %>
      <%= f.input :business_type_id, collection: BusinessType.all, label: 'Tipo de Negócio', wrapper_html: {class: 'col-md-6'} %>

      <%= f.input :property_type_id, collection: PropertyType.all.sort_by { |type| type.name }, label: 'Tipo de Propriedade', wrapper_html: {class: 'col-md-6'}  %>
      <%= f.input :construction_year, label: 'Ano de Construção', wrapper_html: {class: 'col-md-3'} %>
      <%= f.input :condition, label: 'Condição do Imóvel', collection: ['Novo', 'Ótimo', 'Bom', 'Reformado'], wrapper_html: {class: 'col-md-3'} %>
      <%= f.input :position, label: 'Posição', wrapper_html: {class: 'col-md-3'}  %>
      <%= f.input :style, label: 'Estilo', wrapper_html: {class: 'col-md-3'}  %>
      <div class="space col-md-12"></div>
      <%= f.input :rooms, label: 'Nº de Quartos', wrapper_html: {class: 'col-md-3'}  %>
      <%= f.input :bathrooms, label: 'Nº de Banheiros', wrapper_html: {class: 'col-md-3 '}  %>
      <%= f.input :suites, label: 'Nº de Suites', wrapper_html: {class: 'col-md-3'}  %>
      <%= f.input :garages, label: 'Nº Vagas', wrapper_html: {class: 'col-md-3'}  %>
      <%= f.input :description, label: 'Descrição', wrapper_html: {class: 'col-md-12'}  %>
      <%= f.input :sell_conditions, label: 'Condições de Venda', wrapper_html: {class: 'col-md-12 hidden'}  %>
      <%= f.input :rent_guarantee, label: 'Garantias de Locação' , wrapper_html: {class: 'col-md-12 hidden'}  %>
      <%= f.input :observations, label: 'Observações', wrapper_html: {class: 'col-md-12'}  %>
      <%= f.input :published, label: 'Publicar', wrapper_html: {class: 'col-md-2'}  %>
      <%= f.input :featured, label: 'Destaque',  wrapper_html: {class: 'col-md-2'}  %>

      <div class="col-md-12">
        <%= f.button :submit, 'Salvar', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

