<div class="wrapper-form">
  <%= render 'shared/form_menu.html.erb', activate: "details" %>
    <div class="form" >
      <div class="description">
        <h1 style="font-size: 30px;">Detalhes do Imóvel</h1>
        <h2 style="font-size: 20px;">Adicione os detalhes do imóvel</h2>
      </div>
      <div class="form-detail-wrapper">
        <form id="add-new-detail" onsubmit="return addDetail();">
            <input type="text" name="detail_type" id="detail" value="" size="75" data-autocomplete="<%= autocomplete_details_type_name_admin_properties_path %>">
          <input type='submit' class='btn fa-input' id="detail-submit" value="&#xf067">
        </form>
      </div>

      <br>
      <div class="inside-form">
          <%= form_tag( admin_property_details_path , method: 'post', id: 'detail-form') do %>
            <%= hidden_field_tag "property[id]", params[:id] %>
            <% @property_details.each do |detail| %>
              <div class="col-md-3 center">
                <div class="delete-detail detail">
                  <span class='x-detail'>x</span>
                  <%= label_tag detail %>
                  <%= hidden_field_tag "details[#{detail}]", true  %>
                </div>
              </div>
            <% end  %>
            <div class="col-md-12">
              <br>
              <%= submit_tag "Salvar", id: 'submit-detail'%>
            </div>
          <% end %>
      </div>
    </div>
</div>
