
<style>
  .detail {
    background: #FF7C2E;
    color: white;
    padding: 3px 10px;
    border-radius: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 5px;
    font-weight: 300;
  }

  .x-detail {
    cursor: pointer;
    font-size: 12px;
    padding: 3px 6px 3px 0px;
    margin: 1px;
    align-items: center;
    font-weight: 300;
  }


</style>


<div class="wrapper">
  <%= render 'shared/form_menu.html.erb', activate: "area" %>
    <div class="form" style="height:600px;"">
      <div class="description">
        <h1 style="font-size: 30px;">Detalhes do imovel</h1>
        <h2 style="font-size: 20px;"></h2>
      </div>
      <form action="" id="add-new-detail">
        <input type="text" id="detail">
        <input type="submit">
      </form>
      <div class="col-md-3">
        <div class="delete-detail detail"><span class='x-detail'>x</span>Hello</div>
      </div>
      <div class="inside-form">
        <h3>Detalhes</h3>
          <%= form_tag( admin_details_path , method: 'post', id: 'detail-form') do %>
            <%= hidden_field_tag "property[id]", params[:id] %>
            <% @property_detail_types.each do |detail| %>
              <div class="col-md-3">
                <div class="delete-detail detail">
                  <span class='x-detail'>x</span>
                  <%= label_tag detail.name %>
                  <%= hidden_field_tag "details[#{detail.name}]", true  %>
                  <!-- #check_box_tag "details[#{detail.name}]" , nil, (@property_details.include? detail.name)   -->
                </div>
              </div>
            <% end  %>
            <div class="col-md-12">
              <%= submit_tag "Salvar", id: 'submit-detail'%>
            </div>
          <% end %>
      </div>
    </div>
</div>
<% content_for :js do %>
  <%= javascript_tag do  %>
    $('#add-new-detail').on('submit', function() {
      const detail = $('#detail').val();
      const target = $('#detail-form #property_id');
      target.after('<div class="col-md-3"><div class="delete-detail detail"><span class="x-detail">x</span><label for="' + detail.toLowerCase() +'">'+ detail +'</label> <input type="hidden" name="details['+ detail.toLowerCase() + ']" id="details_'+ detail.toLowerCase() + '" value="false"> <input type="checkbox" name="details['+ detail.toLowerCase() +']" id="details_'+ detail.toLowerCase() +'" checked="checked"></div></div>');
      $('#detail').val('');
      return false;
    });

    $(document).on('click', '.x-detail', function() {
      $(this).parent().parent().remove();
      return false;
    });
  <% end %>
<% end %>




