<div class="wrapper">
  <%= render 'shared/form_menu.html.erb', activate: "area" %>
    <div class="form" style="height:600px;"">
      <div class="description">
        <h1 style="font-size: 30px;">Detalhes do imovel</h1>
        <h2 style="font-size: 20px;"></h2>
      </div>

      <form action="" id="my-form">
        <input type="text" id="detail">
        <input type="submit">
      </form>

      <div id="test-target">

      </div>
      <div class="inside-form">
        <h3>Detalhes</h3>
          <%= form_tag( admin_details_path , method: 'post', id: 'detail-form') do %>
            <%= hidden_field_tag "property[id]", params[:id] %>
            <% @property_detail_types.each do |detail| %>
              <p><%= label_tag detail.name %>
              <%= hidden_field_tag "details[#{detail.name}]", false  %>
              <%= check_box_tag "details[#{detail.name}]" , nil, (@property_details.include? detail.name)  %></p>
            <% end  %>
            <%= submit_tag "Salvar" %>
          <% end %>
      </div>
    </div>
</div>

<% content_for :js do %>
  <%= javascript_tag do  %>
  $(document).on('submit', '#my-form', function() {
    var detail = $('#detail').val();
    var target = $('#test-target');
    target.append('<p>' + detail + '</p>');
    $('#detail').val('');
    return false;
    });
  <% end %>
<% end %>




