<!-- lets have all the details show up in one page!
      Maybe is should be before the pictures, but we can fix that later-->
<div class="wrapper">
  <%= render 'shared/form_menu.html.erb', activate: "area" %>
    <div class="form" style="height:600px;"">
      <div class="description">
        <h1 style="font-size: 30px;">Detalhes do imovel</h1>
        <h2 style="font-size: 20px;"></h2>
      </div>
      <div class="inside-form">
        <h3>Detalhes</h3>
          <%= form_tag( '/path', method: 'post', remote: true) do %>
            <% @property_detail_types.each do |detail| %>
              <p><%= label_tag detail.name %>
              <%= check_box_tag detail.name.to_sym, nil, (@property_details.include? detail.name)  %></p>
            <% end  %>
            <%= submit_tag "Salvar" %>
          <% end %>
      </div>
    </div>
</div>

