<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <h1>Propriedades</h1>
    <%= simple_form_for([:admin, @properties], method: :get) do |f| %>
    <%= f.submit %>
    <%= f.button %>
    <% end  %>
    <% if @properties.empty? %>
      <p>Não tem propriedades casdastradas</p>
    <% else %>
      <% @properties.each do |property| %>
        <%= render 'shared/property_card', property: property %>
      <% end %>
    <% end %>
  </div>
</div>



