  <div class="row">
  <div class="col-md-12">
    <div class="property-show">
      <h2 class="title"> <i class="fa fa-home"></i> Cod. <%= @property.id %> - <%= 'Venda' if @property.sale %> <%= '/' if  @property.sale && @property.rent %> <%= 'Aluguel' if @property.rent %></h2>

      <div class="slider-wrapper">
        <div class="slider-for">

          <% if @property.photos.empty? %>

          <div class="image" style="background-image: url('<%= image_path 'placeholder-image.jpg' %>'");>
          </div>
          <% else %>
            <% @property.photos.reverse.each do |photo| %>
              <div class="image" style="background-image: url('<%= cl_image_path(photo.path) %>'");>
              </div>
            <% end  %>
          <% end %>

        </div>
        <% if @property.photos.count > 1 %>
          <div class="slider-nav">
            <% @property.photos.reverse.each do |photo| %>
              <div>
                <%= cl_image_tag photo.path, width: 220, height: 100, crop: :fill %>
              </div>
            <% end  %>
          </div>
        <% end %>
      </div>

      <div class="info-card">
        <h3>Informações Básicas</h3>
        <%= link_to "Editar", edit_admin_property_path(@property), class: 'edit' %>
        <ul>
          <li><b>Tipo de Negócio: </b><%= @property.business_type.name if !@property.business_type.nil? %></li>
          <li><b>Tipo de Propriedade: </b><%= @property.property_type.name if !@property.property_type.nil? %></li>
          <li><b>Ano de Construção: </b><%= @property.construction_year %></li>
          <li><b>Condição do Imóvel: </b><%= @property.condition %></li>
          <li><b>Posição: </b><%= @property.position %></li>
          <li><b>Estilo: </b><%= @property.style  %></li>
          <li><b>Nº de Quartos: </b><%= @property.rooms.blank? || (@property.rooms == 0) ? 'Não tem' : @property.rooms %></li>
          <li><b>Nº de Banheiros: </b><%= @property.bathrooms.blank? ||(@property.bathrooms == 0) ? 'Não tem' : @property.bathrooms  %></li>
          <li><b>Nº de Suítes: </b><%= @property.suites.blank? || (@property.suites == 0) ? 'Não tem' : @property.suites %></li>
          <li><b>Nº Vagas: </b><%= @property.garages.blank? || (@property.garages == 0) ? 'Não tem' : @property.garages%></li>
          <% if !@area.total.blank? %>
            <li><b>Área/Metragem: </b><%= @area.total %> <%= @area.scale %></li>
          <% else %>
            <br>
            <p> Não exite informações sobre a metragem total do imóvel </p>
          <% end %>
          <% if !@area.usable.blank?%>
            <li><b>Área Util: </b><%= @area.usable %> <%= @area.scale %></li>
          <% end %>
          <% if !@area.land.blank?%>
            <li><b>Área do Terreno: </b><%= @area.land %> <%= @area.scale %></li>
          <% end %>
          <%= link_to 'Editar área do imóvel', area_admin_property_path(@property) %>
        </ul>

        <p><b>Descrição:</b></p>
        <% if @property.description.blank? %>
          <p>Sem descrição</p>
        <% else %>
          <p><%= @property.description %></p>
        <% end %>
        <% if !@property.sell_conditions.blank? %>
          <p><b>Condições de Venda:</b></p>
          <p><%= @property.sell_conditions %></p>
        <% end %>
        <% if !@property.rent_guarantee .blank? %>
          <p><b>Garantias de Aluguel:</b></p>
          <p><%= @property.rent_guarantee %></p>
        <% end %>
        <p><b>Observações:</b></p>
        <% if @property.observations.blank? %>
          <p>Sem observações</p>
        <% else %>
          <p><%= @property.observations %></p>
        <% end %>
        <p><b>Detalhes: </b></p>
        <% @property.details_types.each do |detail| %>
          <div class="delete-detail detail"><%= detail.name %></div>
        <% end %>

        <p><%= link_to 'Editar detalhes', details_admin_property_path(@property) %></p>
        <p><b> Data do Cadastro: </b><%= @property.created_at %></p>
        <p><b> Ultima atualização: </b><%= @property.updated_at %></p>
        <p><b>Proprietário: </b><%= link_to "#{@property.landlord.name}", admin_landlord_path(@property.landlord)  %>
      </div>

      <div class="info-card">
        <div id="map" style="height:300px;"></div>
      </div>

      <div class="info-card">
        <h3>Endereço</h3>
        <%= link_to "Editar", address_admin_property_path(@property), class: 'edit' %>
        <ul>
          <li><b>CEP: </b><%= @address.cep %></li>
          <li><b>Estado: </b><%= @address.state %></li>
          <li><b>Cidade: </b><%= @address.city %></li>
          <li><b>Bairro: </b><%= @address.neighborhood %></li>
          <li><b>Lagradouro: </b><%= @address.street %><%= ", #{@address.number}" if !@address.number.blank?%></li>
          <% if !@address.complement.empty? %>
            <li><b>Complemento: </b><%= @address.complement %></li>
          <% end %>
          <% if !@address.complement.empty? %>
            <li><b>Condomínio: </b><%= @address.condo_name %></li>
          <% end %>
        </ul>
      </div>

      <div class="info-card">
        <h3>Valor</h3>
        <%= link_to "Editar", value_admin_property_path(@property), class: 'edit' %>
        <ul>
          <% if @property.sale %>
            <li><b>Valor de venda:</b> <%= number_to_currency(@value.sell, unit: "R$", separator: ",", delimiter: ".") %></li>
          <% end %>
          <% if @property.rent %>
            <li><b>Valor do aluguel:</b> <%= number_to_currency(@value.rent, unit: "R$", separator: ",", delimiter: ".") %></li>
          <% end %>

          <li><b>Iptu:</b> <%= number_to_currency(@value.iptu, unit: "R$", separator: ",", delimiter: ".")  %></li>
          <li><b>Condominio:</b> <%= number_to_currency(@value.condominium , unit: "R$", separator: ",", delimiter: ".") %></li>
        </ul>
      </div>

      <div class="info-card" id="profeatpubl">
        <%= form_tag ['admin', @property], remote: true, method: 'patch' do %>
          <%= label_tag 'property[published]', 'Publicar' %>
          <%= hidden_field_tag 'property[published]', false  %>
          <%= check_box_tag 'property[published]', {}, @property.published , onchange: "$('#property_published').submit();" %>
        <% end %>
        <%= form_tag ['admin', @property], remote: true, method: 'patch' do %>
          <%= label_tag 'property[featured]', 'Destaque' %>
          <%= hidden_field_tag 'property[featured]', false  %>
          <%= check_box_tag 'property[featured]', {}, @property.featured, onchange: "$('#property_featured').submit();" %>
        <% end %>


      </div>
      <%= link_to "Deletar", admin_property_path(@property), data: {confirm: 'Tem certeza que quer deletar a propriedade?'}, class: "btn btn-danger", method: :delete  %>
    </div>
  </div>
</div>

<br>

<% content_for :js do %>
  <script>
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
        asNavFor: '.slider-nav'
       });

      $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: false,
        centerMode: true,
        focusOnSelect: true
      });

      let coord = <%= raw @property_coodinates.to_json %>;
      var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
      handler.buildMap({ internal: { id: 'map' } }, function() {

        if (coord.lat === null && coord.lng === null) {
          handler.map.centerOn([-23.5505, -46.6333]);
          handler.getMap().setZoom(10)
        } else {
          markers = handler.addMarkers(
            [
              {
                "lat": coord.lat,
                "lng": coord.lng
              }, ]
            );

          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(15);
        }
        });
  </script>
<% end %>

