<style>
  .info-card {
    background: white;
    padding: 1em;
    margin: 1em 0;
  }

  .info-card p {
    font-weight: 900;
  }

  .slider-wrapper {
    background: white;
    padding: 2em 2em 3px 2em;
    margin: 1em 0;
  }

  .slider-wrapper .slider-for .image {
    display: flex !important;
    justify-content: center;

  }

  .slick-prev:before, .slick-next:before {
    color:black !important;
  }

</style>


<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <h2> Propriedade - Cod. <%= @property.code %></h2>
    <div class="slider-wrapper">
      <div class="slider-for">
        <% @property.photos.each do |photo| %>
          <div class="image">
            <%= cl_image_tag photo.path, height: 400, crop: :fill %>
          </div>
        <% end  %>
      </div>
      <div class="slider-nav">
        <% @property.photos.each do |photo| %>
          <div>
            <%= cl_image_tag photo.path, width: 220, height: 100, crop: :fill %>
          </div>
        <% end  %>
      </div>
    </div>

    <div class="info-card">
      <p>Informações Basicas</p>
      <ul>
        <li>Tipo Negocição: <%= @property.bussiness_type %></li>
        <li>Tipo de Propriedade:<%= @property.property_type  %></li>
        <li>Tipo: <%= @property.property_kind  %></li>
        <li>Estado da Propriedade: <%= @property.property_state  %></li>
        <li>Posição da Propriedade: <%= @property.position  %></li>
        <li>Estilo de contrução<%= @property.style  %></li>
        <li>Ano de Contrução: <%= @property.construction_year  %></li>
        <li>Nº de Banheiros: <%= @property.bathrooms  %></li>
        <li>Nº de Garages<%= @property.garages  %></li>
        <li>Descrição<%= @property.description  %></li>
        <li><%= @property.published %></li>
        <li><%= @property.conditions %></li>
      </ul>
    </div>

    <div class="info-card">
      <p>Endereço</p>
      <ul>
        <li>CEP: <%= @address.cep %></li>
        <li>Pais: <%= @address.country %></li>
        <li>Estado: <%= @address.state %></li>
        <li>Cidade: <%= @address.city %></li>
        <li>Bairro: <%= @address.neighborhood %></li>
        <li>Largadouro: <%= @address.street %>, <%= @address.number  %></li>
        <li>Complemento: <%= @address.complement %></li>
        <li>Condominio: <%= @address.condo_name %></li>
      </ul>
    </div>

    <div class="info-card">
      <p>Area</p>
      <ul>
        <li>Area Total: <%= "#{@area.total_area} #{@area.scale}" %></li>
        <li>Area Util: <%= "#{@area.usable_area} #{@area.scale}" %></li>
        <li>Area do Terreno: <%= "#{@area.total_area} #{@area.scale}" %></li>
      </ul>
    </div>

    <div class="info-card">
      <p>Preço</p>
      <ul>
        <li>Area Total: <%= "#{@area.total_area} #{@area.scale}" %></li>
        <li>Area Util: <%= "#{@area.usable_area} #{@area.scale}" %></li>
        <li>Area do Terreno: <%= "#{@area.total_area} #{@area.scale}" %></li>
      </ul>
    </div>

    <div class="info-card">
      <p>Valor</p>
      <ul>
        <li>Valor Total: <%= "R$#{@value.value}" %></li>
        <li>Iptu: <%= "R$#{@value.iptu}" %></li>
        <li>Condominio: <%= "R$#{@value.condo_amount}" %></li>
        <li>Porcetagem: <%= "#{@value.rate*100}%" %></li>
      </ul>
    </div>

    <%= link_to "Deletar", admin_property_path(@property), data: {confirm: 'Tem certeza que quer deletar a propriedade?'}, class: "btn btn-danger", method: :delete  %>
    <%= link_to "Editar", edit_admin_landlord_property_path(@property.landlord, @property), class: "btn btn-primary" %>
  </div>
</div>

<% content_for :js do %>
    <script type="text/javascript">
      $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
       });

      $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: false,
        centerMode: true,
        focusOnSelect: true
      });
  </script>
<% end %>

