<style>
  .info-card {
    background: white;
  }
</style>


<div class="row">
  <div class="col-md-3">
    <br>
    <br>
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <h2> Propriedade Cod. <%= @property.code %></h2>
    <%= cl_image_tag @property.photos.first.path, width: 400, height: 400, crop: :fill %>
    <br>

    <div class="info-card">
      <p>Informações Basicas</p>
      <ul>
        <li>Tipo Negocição: <%= @property.bussiness_type %></li>
        <li>Tipo de Propriedade:<%= @property.property_type  %></li>
        <li>Tipo: <%= @property.property_kind  %></li>
        <li>Estado da Propriedade: <%= @property.property_state  %></li>
        <li>Posição da Propriedade: <%= @property.position  %></li>
        <li>Estilo de contrução<%= @property.style  %></li>
        <li>Ano de Contr  ução: <%= @property.construction_year  %></li>
        <li>Nº de Banheiros<%= @property.bathrooms  %></li>
        <li>Nº de<%= @property.garages  %></li>
        <li>Descrição<%= @property.description  %></li>
        <li><%= @property.published %></li>
        <li><%= @property.conditions %></li>
      </ul>
    </div>

    <div class="info-card">
      <p>Endereço</p>
      <ul>
        <li>CEP: <%= @address.cep %></li>
        <li>Pais: <%= @address.country %></li>
        <li>Estado: <%= @address.state %></li>
        <li>Cidade: <%= @address.city %></li>
        <li>Bairro: <%= @address.neighborhood %></li>
        <li>Largadouro: <%= @address.street %>, <%= @address.number  %></li>
        <li>Complemento: <%= @address.complement %></li>
        <li>Condominio: <%= @address.condo_name %></li>
      </ul>
    </div>

    <div class="info-card">
      <p>Area</p>
      <ul>
        <li>Area Total: <%= "#{@area.total_area} #{@area.scale}" %></li>
        <li>Area Util: <%= "#{@area.usable_area} #{@area.scale}" %></li>
        <li>Area do Terreno: <%= "#{@area.total_area} #{@area.scale}" %></li>
      </ul>
    </div>

    <%= link_to "Deletar", admin_property_path(@property), data: {confirm: 'Tem certeza que quer deletar a propriedade?'}, class: "btn btn-danger", method: :delete  %>
  </div>
</div>

<!--   # create_table "property_areas", force: :cascade do |t|
  #   t.string   "scale"
  #   t.float    "total_area"
  #   t.float    "usable_area"
  #   t.float    "area_land"
  #   t.integer  "property_id"
  #   t.datetime "created_at",  null: false
  #   t.datetime "updated_at",  null: false
  #   t.index ["property_id"], name: "index_property_areas_on_property_id", using: :btree
  # end

  # create_table "property_values", force: :cascade do |t|
  #   t.decimal  "value"
  #   t.decimal  "iptu"
  #   t.decimal  "condo_amount"
  #   t.decimal  "rate"
  #   t.integer  "property_id"
  #   t.datetime "created_at",   null: false
  #   t.datetime "updated_at",   null: false
  #   t.index ["property_id"], name: "index_property_values_on_property_id", using: :btree
%> -->

