<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hertz Imobiliaria</title>
    <%= favicon_link_tag(source='favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://maps.google.com/maps/api/js?key=<%=ENV["GMAPS_KEY"]%>&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
  </head>
  <body style="position:relative;">
    <%= javascript_include_tag 'application' %>

    <%= render 'shared/navbar' %>

    <div id="notifications">
      <%= render 'shared/flashes' %>
    </div>

    <div class="main-wrapper">

      <%= render 'shared/sidebar' %>
      <div class="container" style="overflow-x: hidden;">
        <%= yield %>
      </div>
    </div>
    <%= cloudinary_js_config %>
    <%= yield(:js) %>
  </body>
</html>
